@page
@using Abc.Pages.Extensions
@model Abc.Soft.Areas.Quantity.Pages.Measures.DeleteModel



<!DOCTYPE html>

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Item</h4>
    <hr />
    <dl class="row">

        @Html.DisplayControlsFor(m => m.Item.Code)
        @Html.DisplayControlsFor(m => m.Item.Name)
        @Html.DisplayControlsFor(m => m.Item.Definition)
        @Html.DisplayControlsFor(m => m.Item.ValidFrom)
        @Html.DisplayControlsFor(m => m.Item.ValidTo)
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Item.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>