@page
@using Abc.Pages.Extensions
@model Abc.Soft.Areas.Quantity.Pages.Measures.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="row">
        @Html.DisplayControlsFor(m => m.Item.Code)
        @Html.DisplayControlsFor(m => m.Item.Name)
        @Html.DisplayControlsFor(m => m.Item.Definition)
        @Html.DisplayControlsFor(m => m.Item.ValidFrom)
        @Html.DisplayControlsFor(m => m.Item.ValidTo)
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Item.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
